{{define "footer"}}

<div class="container">
    <div class="row">
        <div class="col text-center"></div>
        <hr>
        <small>Copyright &copy; GoGode.ca</small>
    </div>
</div>

{{end}}